<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    
</head>
<body>
    <header>
      <h1></h1>
      <div class="container-logo-search-bar">
        <div class="caja-50"><img src="images/logo-mercado-liebre.svg" alt="ml logo"></div>
        <div class="container-search-bar">
          <form class="nav-search" action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" style="overflow: inherit; display: inherit;">
            <input type="text" placeholder="Buscar productos, marcas y más…">
            <button type="submit" class="nav-search-btn" tabindex="3">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </div>
      <h4><i class='fa-solid fa-hand-holding-dollar'></i> Comprá en cuotas y sin tarjeta de crédito</h4>
      <nav>
          <ul>
              <li><a href='deals'>Ofertas</a></li>
              <li><a href='officialStores'>Tiendas Oficiales</a></li>
              <li><a href='sell'>Vender</a></li>
              <li><a href='help'>Ayuda</a></li>
          </ul>
          <ul>
              <li><a href='register'>Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
              <li><a href='login'>Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
              <li><a href='myshopping'>Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
      </nav>
      <div class="burger-menu">
          <i class="background-blue color-white border-radius-15 padding-10 fa-solid fa-bars"></i>
      </div>
    </header>
    <main>
        <section>
            <h2 class="padding-h2-seccion">
                Sección: Basado en tu última visita
            </h2>
            <article class="flex-grow-1">
                <div><img class="img" src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                <div class="contenedor-truck">
                    <i class="rotate descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex"> 
                  <h6 class="caja-30">$6.770</h6>
                  <h5 class="caja-70 descuento-green">40% OFF</h5>
                </div>  
                <div class="img description padding-descripciones"><h5> Cafetera Moulinex</h5></div> 
            </article>
            <article class="flex-grow-2">
                <div><img class="img"  src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div>
                <div class="contenedor-truck">
                    <i class="descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex"> 
                  <h6 class="caja-30">$230.000</h6>
                  <h5 class="caja-70 descuento-green">20% off</h5>
                </div>  
                <div class="img description padding-descripciones"><h5>MacBook Pro 2019</h5></div>
            </article>
            <article class="flex-grow-3">
                <div><img class="img" src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></div>
                <div class="contenedor-truck">
                    <i class="descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex"> 
                  <h6 class="caja-30">$70.500</h6>
                  <h5 class="caja-70 descuento-green">10% off</h5>
                </div>  
                <div class="img description padding-descripciones"><h5>Samsung Galaxy S10</h5></div> 
            </article>
            <article class="flex-grow-4">
                <div><img class="img" src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></div>
                <div class="contenedor-truck">
                    <i class="descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex"> 
                  <h6 class="caja-30">$23.200</h6>
                  <h5 class="caja-70 descuento-green">5% off</h5> 
                </div>  
                <div class="img description padding-descripciones"><h5>SmartTv Samsung 43"</h5></div>              
            </article>
        </section>
        <section>
            <h2 class="padding-h2-seccion">Sección de Ofertas</h2>
            <article class="flex-grow-1">
                <div><img class="img" src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                <div class="contenedor-truck">
                    <i class="descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex"> 
                  <h6 class="caja-30">$6.770</h6>
                  <h5 class="caja-70 descuento-green">40% off</h5> 
                </div>  
                <div class="img description padding-descripciones"><h5>Cafetera Moulinex</h5></div>             
            </article>
            <article class="flex-grow-2">
                <div><img class="img" src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div>
                <div class="contenedor-truck">
                    <i class="descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex">
                  <h6 class="caja-30">$230.000</h6>
                  <h5 class="caja-70 descuento-green">20% off</h5>
                </div>  
                <div class="img description padding-descripciones"><h5>MacBook Pro 2019</h5></div>              
            </article>
            <article class="flex-grow-3">
                <div><img class="img" src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></div>
                <div class="contenedor-truck">
                    <i class="descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex">
                  <h6 class="caja-30">$70.500</h6> 
                  <h5 class="caja-70 descuento-green">10% off</h5>
                </div>   
                <div class="img description padding-descripciones"><h5>Samsung Galaxy S10</h5></div>                
            </article>
            <article class="flex-grow-4">
                <div><img class="img" src="images/img-tv-samsung-smart.jpg" alt="imagen SmarTv"></div>
                <div class="contenedor-truck">
                    <i class="descuento-green fa-solid fa-truck"></i>
                </div>
                <div class="contenedor-flex"> 
                  <h6 class="caja-30">$23.200</h6>
                  <h5 class="caja-70 descuento-green">5% off</h5>
                </div>   
                <div class="img description padding-descripciones"><h5>SmartTv Samsung 43"</h5></div>               
            </article>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
          <div class="caja-centrada padding-cajas-footer">         
            <i class="fas fa-credit-card  icon-size"></i>
             <h3>Pagá con tarjeta o en efectivo</h3>
             <p>
                 Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>         
          </div>
          <div class="caja-centrada padding-cajas-footer">         
            <i class="fas fa-gift  icon-size"></i>
             <h3>Envío gratis desde $ 2.500</h3>
             <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
             </p>         
          </div>
          <div class="caja-centrada padding-cajas-footer">        
            <i class="fas fa-user-shield  icon-size"></i>
             <h3>Seguridad, de principio a fin</h3>
             <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
             </p>         
          </div>
        </div>
        <div class="caja-centrada">        
             <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>         
        </div>        
    </footer>
</body>
</html>